/* Mobile & Tablet */

@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    header {
        justify-content: center;
        align-items: center;
        padding: 8px 0;
    }
    header.sticky {
        padding: 10px 0;
    }
    header ul li a {
        padding: 5px 8px;
    }
    header ul {
        padding-top: 5px;
    }
    .banner {
        padding: 150px 55px 100px;
    }
    .about {
        display: block;
    }
    .about.hfull {
        padding: 100px 55px 55px 0;
    }
    .heading h2 {
        margin-left: 55px;
    }
    .about .content {
        flex-direction: column;
        justify-content: center;
    }
    .contentBx {
        margin-top: 50px;
    }
    .avatar img {
        width: 50%;
        margin: 30px 0 0 60px;
    }
    .services .content {
        width: calc(100% + 50px);
    }
    .services .heading {
        margin-top: 100px;
    }
    .services .heading h2 {
        margin-left: 0;
    }
    .heading.white h2 {
        margin-bottom: 20px;
    }
    .services.hfull {
        padding: 0;
    }
    .services .content .servicesBx {
        margin: 10px;
    }
    .product .content {
        display: block;
        max-width: 100%;
        padding: 0 184px 0 150px;
    }
    .product .content .productBx {
        width: 350px;
        margin: 0 0 40px 0;
    }
    .product .content .productBx p {
        opacity: 1;
        color: #000;
        margin-top: 12px;
        font-size: 18px;
    }
    .contactInfo {
        display: block;
    }
    .formBx,
    .contact .heading h2 {
        margin-left: 0;
    }
    .contactInfoBx h4 {}
    .formBx h3 {
        margin: 10px 0;
    }
    .form-label {
        top: 16%;
    }
    .form-input:not(:placeholder-shown)+.form-label,
    .form-input:focus+.form-label {
        top: 8%;
    }
    .form-label-1 {
        top: 36.5%;
    }
    .form-input:not(:placeholder-shown)+.form-label-1,
    .form-input:focus+.form-label-1 {
        top: 28%;
    }
    .form-label-2 {
        top: 56%;
    }
    .form-textarea:not(:placeholder-shown)+.form-label-2,
    .form-textarea:focus+.form-label-2 {
        top: 48%;
    }
    .form-input,
    .form-textarea {
        margin-bottom: 20px;
    }
    .formBx input[type="submit"] {
        width: 100%;
        max-width: 100%;
    }
}


/* Tablet */


/* @media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
} */


/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }
    #main-menu {
        flex-direction: column;
        text-align: center;
    }
    #toggle {
        display: block;
    }
    nav {
        display: none;
    }
    .banner h2 {
        font-size: 1.5em;
    }
    .banner .textBx h3 {
        font-size: 1.3em;
    }
    .about.hfull {
        padding: 60px 50px 0 0;
    }
    .heading h2 {
        font-size: 33px;
    }
    .about .content {
        line-height: 22px;
    }
    .contentBx {
        margin-top: 20px;
    }
    .contentBx h3 {
        font-size: 16px;
        margin-bottom: 2px;
    }
    .contentBx p {
        font-size: 12px;
        line-height: 1.6em;
    }
    .avatar img {
        width: 55%;
        margin: 10px 0 0 60px;
        box-shadow: 0 0 10px #afafaf;
    }
    .services .content {
        padding-right: 40px;
    }
    .services .heading {
        margin-top: 60px;
    }
    .services .heading h2 {
        margin-left: 0;
    }
    .heading h2 {
        margin-top: 10px;
    }
    .heading.white h2 {
        margin: 20px 0 0 0;
    }
    .services .content .servicesBx {
        margin: 10px;
        padding: 14px 0;
        font-size: 12px;
    }
    .services .content .servicesBx img {
        max-width: 60px;
    }
    .services .content .servicesBx h2 {
        font-size: 16px;
    }
    .product.hfull {
        padding: 50px 0 55px 0;
    }
    .product .heading h2 {
        margin: 20px 0 0 0;
    }
    .product .content {
        margin: 0;
        padding: 20px 0 0 0;
    }
    .product .content,
    .product .heading h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product .content .productBx p {
        font-size: 16px;
        height: 50px;
        transform: none;
        padding-top: 0;
        margin-top: 0;
    }
    .product .content .productBx img:hover+p {
        transform: none;
    }
    .product .content .productBx {
        margin: 0;
        width: 300px;
        padding: 5px 20px 0 20px;
    }
    .contact.hfull {
        padding: 60px 20px 0 20px;
    }
    .contactInfoBx .box {
        padding: 5px 0;
    }
    .formBx {
        margin-top: 20px;
    }
    .contactInfo {
        margin-top: 10px;
    }
    .form-label {
        top: 5%;
        font-size: 14px;
    }
    .form-input:not(:placeholder-shown)+.form-label,
    .form-input:focus+.form-label {
        display: none;
    }
    .form-label-1 {
        font-size: 14px;
        top: 29%;
    }
    .form-input:not(:placeholder-shown)+.form-label-1,
    .form-input:focus+.form-label-1 {
        display: none;
    }
    .form-label-2 {
        font-size: 14px;
        top: 52%;
    }
    .form-textarea:not(:placeholder-shown)+.form-label-2,
    .form-textarea:focus+.form-label-2 {
        display: none;
    }
    .form-input,
    .form-textarea {
        height: 45px;
    }
    .formBx textarea {
        min-height: 90px;
    }
}

@media (max-width: 415px) {
    .services .content {
        padding-right: 0;
    }
}